Node-RED EDGE/flow.json
[{"id":"42ece9cf.5418b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"25ba3e32.c6a1a2","type":"inject","z":"42ece9cf.5418b8","name":"One time trigger","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"10","x":120,"y":240,"wires":[["2d2b109a.b3c1d","ecbbd5d2.6415f8","f476903d.b248f","545c3a2a.a9f5f4"]]},{"id":"ecbbd5d2.6415f8","type":"exec","z":"42ece9cf.5418b8","command":"sudo python co2.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"CO2 Sensor Mockup Feed","x":420,"y":120,"wires":[["dec338a3.ff9718"],[],[]]},{"id":"adadf4f5.3154d8","type":"wiotp out","z":"42ece9cf.5418b8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"bf699e94.11b9a","deviceType":"","deviceId":"","event":"Co2","format":"json","qos":"","name":"CO2 Data","x":960,"y":120,"wires":[]},{"id":"df6eb24a.05b5d","type":"exec","z":"42ece9cf.5418b8","command":"sudo python vibration.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Vibration sensor Data","x":400,"y":480,"wires":[["c257582.3baada8"],[],[]]},{"id":"3817a9d6.c84ea6","type":"wiotp out","z":"42ece9cf.5418b8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"bf699e94.11b9a","deviceType":"","deviceId":"","event":"nh3","format":"json","qos":"","name":"NH3 Data","x":960,"y":200,"wires":[]},{"id":"9c4e6a9b.4ce618","type":"wiotp out","z":"42ece9cf.5418b8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"bf699e94.11b9a","deviceType":"","deviceId":"","event":"micro","format":"json","qos":"","name":"Microwave Data","x":980,"y":280,"wires":[]},{"id":"e19ffefa.e1a24","type":"wiotp out","z":"42ece9cf.5418b8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"bf699e94.11b9a","deviceType":"","deviceId":"","event":"vib","format":"json","qos":"","name":"Vibration data","x":980,"y":480,"wires":[]},{"id":"dec338a3.ff9718","type":"json","z":"42ece9cf.5418b8","name":"CO2 JSON Convert","property":"payload","action":"str","pretty":true,"x":720,"y":120,"wires":[["adadf4f5.3154d8"]]},{"id":"f221233f.d42c6","type":"json","z":"42ece9cf.5418b8","name":"Microwave JSON Convert","property":"payload","action":"","pretty":true,"x":730,"y":280,"wires":[["9c4e6a9b.4ce618"]]},{"id":"c257582.3baada8","type":"json","z":"42ece9cf.5418b8","name":"vibration data","property":"payload","action":"","pretty":true,"x":700,"y":480,"wires":[["e19ffefa.e1a24"]]},{"id":"737f70eb.14806","type":"wiotp in","z":"42ece9cf.5418b8","authType":"d","deviceKey":"bf699e94.11b9a","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":350,"y":900,"wires":[[]]},{"id":"a3975917.be70c8","type":"inject","z":"42ece9cf.5418b8","name":"earthquake trigger","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"10","x":130,"y":500,"wires":[["df6eb24a.05b5d"]]},{"id":"f476903d.b248f","type":"exec","z":"42ece9cf.5418b8","command":"sudo python nh3.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Ammonia Sensor Mockup Feed","x":430,"y":200,"wires":[["c1908227.59e1f"],[],[]]},{"id":"c1908227.59e1f","type":"json","z":"42ece9cf.5418b8","name":"Ammonia JSON Convert","property":"payload","action":"","pretty":true,"x":730,"y":200,"wires":[["3817a9d6.c84ea6"]]},{"id":"2d2b109a.b3c1d","type":"exec","z":"42ece9cf.5418b8","command":"sudo python micro.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"MIcrowave Sensor Mockup Feed","x":440,"y":280,"wires":[["f221233f.d42c6"],[],[]]},{"id":"545c3a2a.a9f5f4","type":"exec","z":"42ece9cf.5418b8","command":"sudo python gps.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"GPS Sensor Mockup Feed","x":420,"y":360,"wires":[["3a5d3807.cb64f8"],[],[]]},{"id":"3a5d3807.cb64f8","type":"json","z":"42ece9cf.5418b8","name":"GPS JSON Convert","property":"payload","action":"","pretty":true,"x":720,"y":360,"wires":[["7ca94b0f.da5b64"]]},{"id":"7ca94b0f.da5b64","type":"wiotp out","z":"42ece9cf.5418b8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"bf699e94.11b9a","deviceType":"","deviceId":"","event":"gps","format":"json","qos":"","name":"GPS Data","x":960,"y":360,"wires":[]},{"id":"bf699e94.11b9a","type":"wiotp-credentials","z":"","name":"Sensor IoT","org":"ip0go3","serverName":"","devType":"iot-pi1","devId":"Ras01","keepalive":"60","cleansession":false,"tls":"","usetls":false}]
