Node-RED Cloud/flow.json
[{"id":"477ccb4e.111594","type":"tab","label":"Tremor Feed API Call","disabled":true,"info":""},{"id":"67cf7300.caae7c","type":"function","z":"477ccb4e.111594","name":"Type_Title","func":"msg.payload = 'Alert Type: '\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":720,"wires":[["58bead76.b66bb4"]]},{"id":"ac273a3e.8d72e8","type":"change","z":"477ccb4e.111594","name":"Tremor_Type_Ext","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features[0].properties.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":760,"wires":[["58bead76.b66bb4"]]},{"id":"27198ad6.d1dca6","type":"function","z":"477ccb4e.111594","name":"Mag_Title","func":"msg.payload = 'Magnititude Level: '\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":800,"wires":[["b6723d48.acfb9"]]},{"id":"6e0934a2.401aec","type":"change","z":"477ccb4e.111594","name":"Tremor_Mag_Ext","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features[0].properties.mag","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":840,"wires":[["b6723d48.acfb9"]]},{"id":"7fc31857.4656d8","type":"function","z":"477ccb4e.111594","name":"Location_Title","func":"msg.payload = 'Location: '\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":880,"wires":[["57be13cc.b467ac"]]},{"id":"648d1b5b.bf3774","type":"change","z":"477ccb4e.111594","name":"Tremor_Place_Ext","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features[0].properties.place","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":920,"wires":[["57be13cc.b467ac"]]},{"id":"84f07f44.1a579","type":"function","z":"477ccb4e.111594","name":"Time_Title","func":"msg.payload = 'Time: '\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":960,"wires":[["da771c17.3199e"]]},{"id":"8535394c.086358","type":"change","z":"477ccb4e.111594","name":"Tremor_Time_Ext","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features[0].properties.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1000,"wires":[["da771c17.3199e"]]},{"id":"58bead76.b66bb4","type":"join","z":"477ccb4e.111594","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":720,"wires":[["a4cba042.91a59"]]},{"id":"b6723d48.acfb9","type":"join","z":"477ccb4e.111594","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":800,"wires":[["a4cba042.91a59"]]},{"id":"ab7903a8.2741f","type":"switch","z":"477ccb4e.111594","name":"If Alert","property":"msg.payload.metadata.count > 0 and msg.payload.features[0].properties.mag > 1\t","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":840,"wires":[["67cf7300.caae7c","ac273a3e.8d72e8","27198ad6.d1dca6","6e0934a2.401aec","7fc31857.4656d8","648d1b5b.bf3774","84f07f44.1a579","8535394c.086358"]]},{"id":"57be13cc.b467ac","type":"join","z":"477ccb4e.111594","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":880,"wires":[["a4cba042.91a59"]]},{"id":"da771c17.3199e","type":"join","z":"477ccb4e.111594","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":960,"wires":[["a4cba042.91a59"]]},{"id":"a4cba042.91a59","type":"join","z":"477ccb4e.111594","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":840,"wires":[["2741984e.2e06b8","b1794816.68a708"]]},{"id":"cc911026.f6e88","type":"http request","z":"477ccb4e.111594","name":"API Request","method":"GET","ret":"obj","url":"","tls":"","x":130,"y":760,"wires":[["ab7903a8.2741f"]]},{"id":"21972eae.632c02","type":"inject","z":"477ccb4e.111594","name":"Auto Trigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":167,"y":200,"wires":[["463082dc.588b4c"]]},{"id":"9be1dfe.ece3c2","type":"function","z":"477ccb4e.111594","name":"Prev_Min","func":"var part1 = msg.payload.toString('hex').substr(0,14);\nvar min = msg.payload.toString('hex').substr(14,2);\nvar part2 = msg.payload.toString('hex').substr(16,8);\nvar oldmin = min - 1;\nif (oldmin < 10)\n{\n    prevmin = '0' + oldmin\n}\nelse\n{\n    prevmin = oldmin\n}\nvar oldtime = part1 + prevmin + part2;\nmsg.payload = oldtime;\nglobal.set(\"MSG5\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["dce5ab52.9775b8"]]},{"id":"463082dc.588b4c","type":"change","z":"477ccb4e.111594","name":"Get Current Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":300,"wires":[["9be1dfe.ece3c2","a5d34a28.928a78","2a19c85b.b38f78","370d7440.9f85fc","df2a6e6c.9f279","bc4837d1.0251c8","d8448d5c.91802","3a55ef45.b4052"]]},{"id":"bc4837d1.0251c8","type":"function","z":"477ccb4e.111594","name":"api_portal","func":"msg.payload = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson';\nglobal.set(\"MSG1\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["dce5ab52.9775b8"]]},{"id":"d8448d5c.91802","type":"function","z":"477ccb4e.111594","name":"api_starttime","func":"msg.payload = '&starttime=';\nglobal.set(\"MSG2\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["dce5ab52.9775b8"]]},{"id":"a5d34a28.928a78","type":"function","z":"477ccb4e.111594","name":"api_endtime","func":"msg.payload = '&endtime=';\nglobal.set(\"MSG4\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["dce5ab52.9775b8"]]},{"id":"2a19c85b.b38f78","type":"function","z":"477ccb4e.111594","name":"api_latitude_title","func":"msg.payload = '&latitude=';\nglobal.set(\"MSG6\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["dce5ab52.9775b8"]]},{"id":"c23f7dc5.0945d","type":"function","z":"477ccb4e.111594","name":"api_latitude_val","func":"msg.payload = msg.payload.d[2].latitude;\nglobal.set(\"MSG7\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["dce5ab52.9775b8"]]},{"id":"370d7440.9f85fc","type":"function","z":"477ccb4e.111594","name":"api_longitude_title","func":"msg.payload = '&longitude=';\nglobal.set(\"MSG8\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["dce5ab52.9775b8"]]},{"id":"823897da.498728","type":"function","z":"477ccb4e.111594","name":"api_longitude_val","func":"msg.payload = msg.payload.d[3].longitude;\nglobal.set(\"MSG9\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["dce5ab52.9775b8"]]},{"id":"df2a6e6c.9f279","type":"function","z":"477ccb4e.111594","name":"api_maxradius_title","func":"msg.payload = '&maxradiuskm=';\nglobal.set(\"MSG10\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["dce5ab52.9775b8"]]},{"id":"16358f94.073f3","type":"function","z":"477ccb4e.111594","name":"api_maxradius_val","func":"msg.payload = msg.payload.d[4].radius;\nglobal.set(\"MSG11\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["dce5ab52.9775b8"]]},{"id":"dce5ab52.9775b8","type":"join","z":"477ccb4e.111594","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":320,"wires":[["a818ffd7.3d3de"]]},{"id":"3a55ef45.b4052","type":"function","z":"477ccb4e.111594","name":"api_starttime","func":"var par1 = msg.payload;\nglobal.set(\"MSG3\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["dce5ab52.9775b8"]]},{"id":"a818ffd7.3d3de","type":"function","z":"477ccb4e.111594","name":"api_portal","func":"var m1 = global.get(\"MSG1\");\nvar m2 = global.get(\"MSG2\");\nvar m3 = global.get(\"MSG3\");\nvar m4 = global.get(\"MSG4\");\nvar m5 = global.get(\"MSG5\");\nvar m6 = global.get(\"MSG6\");\nvar m7 = global.get(\"MSG7\");\nvar m8 = global.get(\"MSG8\");\nvar m9 = global.get(\"MSG9\");\nvar m10 = global.get(\"MSG10\");\nvar m11 = global.get(\"MSG11\");\nmsg.payload = m1 + m2 + m3 + m4 + m5 + m6 + m7 + m8 + m9 + m10 + m11;\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":320,"wires":[["6c03acb3.37c994"]]},{"id":"6c03acb3.37c994","type":"function","z":"477ccb4e.111594","name":"API Url","func":"msg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":440,"wires":[["cc911026.f6e88"]]},{"id":"9af28732.0ff238","type":"cloudant out","z":"477ccb4e.111594","name":"GPS Cloudant","cloudant":"","database":"gps","service":"autobotseg-cloudantNoSQLDB","payonly":true,"operation":"insert","x":180,"y":560,"wires":[]},{"id":"e1a5710f.6df99","type":"ibmiot in","z":"477ccb4e.111594","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Ras01","applicationId":"","deviceType":"+","eventType":"gps","commandType":"","format":"json","name":"GPS","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":true,"allEvents":false,"allCommands":"","allFormats":false,"qos":"0","x":110,"y":400,"wires":[["9af28732.0ff238","c23f7dc5.0945d","823897da.498728","16358f94.073f3"]]},{"id":"830f88ad.042dd8","type":"twilio out","z":"477ccb4e.111594","service":"_ext_","twilio":"a1370bcc.b0b5c8","from":"","number":"+919840537450","name":"Tremor Alert SMS","x":1210,"y":720,"wires":[]},{"id":"2741984e.2e06b8","type":"function","z":"477ccb4e.111594","name":"email Build","func":"msg.topic = \"Tremor Alert\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":760,"wires":[["751b10ff.43d17","830f88ad.042dd8"]]},{"id":"751b10ff.43d17","type":"e-mail","z":"477ccb4e.111594","server":"smtp.gmail.com","port":"465","secure":true,"name":"autobotsrbs@gmail.com","dname":"Tremor Alert eMail","x":1210,"y":780,"wires":[]},{"id":"b1794816.68a708","type":"function","z":"477ccb4e.111594","name":"email Build","func":"msg.topic = \"Sensor Dashboard Detail\";\nmsg.payload = \"Click the below link to view the real-time Sensor Dashboard. https://autobotseg.eu-gb.mybluemix.net/ui/#/0\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":900,"wires":[["6b993f41.24ed5","883396cf.ec92a8"]]},{"id":"6b993f41.24ed5","type":"e-mail","z":"477ccb4e.111594","server":"smtp.gmail.com","port":"465","secure":true,"name":"autobotsrbs@gmail.com","dname":"Sensor Dashboard  eMail","x":1230,"y":920,"wires":[]},{"id":"883396cf.ec92a8","type":"twilio out","z":"477ccb4e.111594","service":"_ext_","twilio":"a1370bcc.b0b5c8","from":"","number":"+919840537450","name":"Sensor Dashboard SMS","x":1230,"y":860,"wires":[]},{"id":"30b1ab36.ac1894","type":"comment","z":"477ccb4e.111594","name":"Tremor API Feed","info":"Get the feed from Tremor API with frequent interval","x":500,"y":36,"wires":[]},{"id":"a1370bcc.b0b5c8","type":"twilio-api","z":"","sid":"ACd9c23fc9926cef88a3f908d5946eb7d6","from":"+15413297559","name":"sms"}]
